@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background: #c31432;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Playfair Display', serif;
	transition: all 0.2s ease-in-out;
}

body h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: bolder;
	margin: 1rem;
	color: #fff;
}

table {
	width: 95%;
	margin:  0 auto;
}

td:first-child {
	font-family: 'Source Code Pro', monospace;
}

tr:last-child {
	font-family: 'Source Code Pro', monospace;
}

th {
	font-family: 'Source Code Pro', monospace;
}

table, th, td {
	padding: 0.5rem;
	text-align: center;
	color: #fff;
}

table input::placeholder {
	color: #fff;
	letter-spacing: 1px;
}

table input, select {
	border: none;
	box-shadow: 1px 2px 4px grey;
	border-radius: 0.2rem;
	width: 100%;
	padding: 0.5rem 0rem;
	text-align: center;
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7.2px);
	-webkit-backdrop-filter: blur(7.2px);
	border: 1px solid rgba(255, 255, 255, 0.33);
}

table input:focus {
	border: none;
}

div.data-list-input
{
	position: relative;
	width: 100%;
	display: inline-flex;
	margin: 0.8rem 0;
	transform: translateY(-1rem);
}

select.data-list-input
{
	position: absolute;
	width: 100%;
}

option {
	background-color: rgba(255, 255, 255, 0.2);
	color: #000;
}

input.data-list-input
{
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: none;
	width: 90%;
}

table input[name="check1"] {
	width: auto;
	box-shadow: none;
}

.buttons {
	margin: 1rem auto;
	display: flex;
	width: 40%;
	justify-content: space-between;
}

.buttons input {
	padding: 0.5rem 2rem;
	border: none;
	background: darkgrey;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 0.2rem;
	cursor: pointer;
}

.buttons input:hover {
	background: peachpuff;
	transition: 0.2s;
}